.userWelcomeMessage{
    font-size: medium;
    font-weight: 600;
}


.userWelcome{
    display: flex;
    gap: 15px;
    align-items: center;
}

.profileIcon {
    font-size: 1.5rem;
    color: #8AA5FF;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 5px;
    border-radius: 50%;
}

.profileIcon:hover {
    color: #2934FF;
    background-color: rgba(41, 52, 255, 0.1);
    transform: scale(1.1);
}

