.userWelcomeMessage{
    font-size: medium;
    font-weight: 600;
}


.userWelcome{
    display: flex;
    gap:5px;
    align-items: center;
}

.userWelcomeModal{
    border-radius: 15px;
    position: absolute;
    height: 5em;
    width : 10em;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    right:8.5em;
    top:3em;
    display: flex;
    flex-direction: column;
    color: white;
}


.userWelcomeModelOptions{
    font-size: small;
    padding: 10px;
    display: flex;
    gap: 15px;
}