.container {
    display: flex;
    gap: 20px;
}

.problemSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 1em;
}

.editorSection {
    width: 50%;
}

.testCase {
    margin-bottom: 10px;
}

.editor {
    height: 90vh;
}

.menuContainer {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.menuTab {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.menuTabText {
    font-weight: 600;
    font-size: small;
}

.menuTab:hover {
    color: var(--primary-color);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}