.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  width: 100%;
  padding: 0.75rem 1.5rem;
}

.pagination-number {
  border-radius: 5px;
  height: 2em;
  min-width: 2em;
  padding: 0 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D4D925;
}

.pagination-number:hover{
  background-color: #dbdd95;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.active {
  background-color: #D4D925;
  color: black;
}