.mainRegisterDiv{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.closeButton{
    position: absolute;
    top:-20px;    
    right:0;
}
.registerForm{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 40vw;
    background-color: #151516;
    border-radius: 15px;
}
.registerSubheading{
    margin-top: 5px;
    font-size: small;
    font-weight: 500;
    color:gray;
    text-align: center;
}
.registerFormFields{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top: 25px;
}
.labels{
    font-size: small;
    font-weight: 500;
}
.inputCell{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.inputText{
    width: 20em;
    height: 2.5em;
    border-radius: 15px;
    border:none;
    padding-left: 2.2rem;
}

.inputText:focus{
    outline: 2px solid var(--primary-color);
     box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
    
}

.inputRequired{
    font-size: 0.8em;
    color:red;
}
.alreadyText{
    font-size: small;
    text-align: center;
    margin-top: 15px;
    font-weight: 400;
}
.already{
    color:var(--primary-color);
    text-decoration: none;
}

.already:hover{
    cursor:pointer;
    color:var(--light-blue)
}

.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
}

.inputIcon {
  position: absolute;
  left: 10px;
  color: #999;
  font-size: 1.2rem;
}

.eyeOff{
    position: absolute;
    right : 10px;
    color: #999;
    font-size: 1.2rem;
    cursor: pointer;
}

.errorMsg{
    color: red;
    font-size: 0.7em;
    font-weight: 400 ;
}
.mainErrorMsg{
    color: red;
    font-size: 0.7em;
    font-weight: 400 ;
    text-align: center;
}


