* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #2934FF;
  --light-blue: #8AA5FF;
  --secondary-color: #031457;
  --dark-blue: #121426;
  --yellow-color: rgb(255, 214, 58);

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

}

.FrontendLabs-logo {
  height: 40px;
  width: 40px;
  margin-top: -7px;
}

body {
  background-color: #161618;
  color: white;
}
a{
    text-decoration: none;
}
.navbar {
  position: fixed;
  height: 60px;
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  background-color: #151516;
  border-bottom: 1px solid rgb(62, 62, 62);
}

.navbar-menu {
  font-weight: 500;
  font-size: 15px;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-buttons {
  display: flex;
  gap: 15px;
}

.button {
  height: 30px;
  width: fit-content;
  padding: 0 15px 0 15px;
  border-radius: 15px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.button-white:hover {
  -webkit-box-shadow: 0px 0px 23px -5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 23px -5px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 23px -5px rgba(255, 255, 255, 1);
  color:var(--primary-color)
}

.button-primary {
  background-color: var(--primary-color);
}

.button-primary:hover {
  -webkit-box-shadow: 0px 0px 23px -5px rgba(41, 52, 255, 1);
  -moz-box-shadow: 0px 0px 23px -5px rgba(41, 52, 255, 1);
  box-shadow: 0px 0px 23px -5px rgba(41, 52, 255, 1);
  color: white
}

.landing-page::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #0b0b23);
  z-index: 2;
}

.section-divider {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin-top: -2px;
}

.section-divider svg {
  display: block;
  width: 100%;
  height: 100px;
}

.hero-section {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: 'Poppins';

}

.hero-frontend-text {
  color: var(--primary-color);
}

.hero-heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  text-align: center;
  font-weight: 700;
}

.hero-paragraph {
  font-weight: 200;
  color: rgb(131, 131, 131);
  width: 50%;
  text-align: center;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}



.glass-effect {
  position: relative;
  background: rgba(255, 255, 255, 0.08);
  /* Semi-transparent white background */
  backdrop-filter: blur(1px);
  /* Apply the blur effect */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Optional: subtle shadow */

}

*::-webkit-scrollbar {
  display: none;
}

.feature-page {
  height: 100vh;
  background: #031457;
  background: linear-gradient(180deg, rgba(3, 20, 87, 0.62) 0%, rgba(0, 0, 0, 0) 66%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  font-family: 'Poppins';
}

.feature-heading {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  text-align: center;
  font-weight: 700;
}

.feature-subheading {
  font-weight: 200;
  color: rgb(131, 131, 131);
  width: 50%;
  text-align: center;
}

.feature-card-container {
  display: flex;
  width: 100vw;
  gap: 25px;
  justify-content: center;
  margin-top: 50px;
}

.card {
  background: #031457;
  background: linear-gradient(180deg, rgba(3, 20, 87, 0.62) 0%, rgba(0, 0, 0, 0) 66%);
  justify-content: start;
  align-items: center;
  width: 15em;
  height: 20em;
  padding: 50px 15px 10px 15px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: solid 0.2px var(--primary-color);
  perspective: 1000px;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
  will-change: transform, border-color;
  cursor: pointer;
}

.card-1 {
  margin-top: -20px;
  height: 23em;
}

.card:hover {
  border: solid 1px var(--yellow-color);
  transform: rotateY(10deg) rotateX(10deg);
  box-shadow: 0 5px 10px rgba(255, 214, 58, 0.3);
  animation: all 10s ease-in-out;
}

.icon {
  font-size: 2em;
  color: var(--primary-color);
}

/* Smooth Blur Animation */
@keyframes blurFadeIn {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.hero-section-animated {
  animation: blurFadeIn 1.5s ease-out forwards;
}

.authbuttons{
    width: 20em;
    margin-top:15px;
}