*{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
body{
  background-color: #161618;
  color : white;

}
.logo{
  font-size: large;
}
.navbar{
  height: 60px;
  display: flex;
  gap :15px;
  justify-content: space-around;
  align-items: center;
  background-color: #151516;
  border-bottom: 1px solid rgb(62, 62, 62);
}
.navbar-menu{
  font-weight: 500;
  font-size: 15px;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-buttons{
  display: flex;
  gap:15px;
}

.button{
  height: 30px;
  width: fit-content;
  padding: 0 15px 0 15px;
  border-radius: 15px;
  border: none;
  font-weight: 600;
}

.button-purple{
  background-color: #8062D6;
}

.hero-section{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: 'Poppins';
  
}
.hero-frontend-text{
  color: #8062D6;
}
.hero-heading{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  text-align: center;
  font-weight: 700;
}
.hero-paragraph{
  font-weight: 200;
  color: rgb(131, 131, 131);
  width: 50%;
  text-align: center;
}

.hero-buttons{
  display: flex;
  gap:15px;
}